<%
[result|tail] = String.split(@result,"\n")
message = Enum.join(tail,"\n")
IO.inspect(@error)
%>
<div>
<h1><%="stage #{@area}-#{@stage} "<>result%></h1>
<p><%=message%></p>
<table>
<tr>
<td width="5%">Miss:</td>
<td><%= @error %></td>
</tr>
<%= @misstypes %>
</table>
<%= button "ステージ選択に戻る", to: "/game/start", method: :get%>
</div>
