<style>
.silver{
  color: silver;
}
.red{
  color: red;
}
</style>
<body>
    <div phx-window-keyup="type">
        <%= if @escflag do %>
        <p class="red">中断中　escキーで再開</p>
        <% end %>
        <%=@sentence%><br>
        <span><%=@typed%></span><span class="silver"><%=@remain%></span><br>
    </div>
<br>
hp: <%= 10- @error_count %><br>
time:<%=  60 - @time %><br>

<br>
<br>
<%= button "スタート画面へ", to: "/game/start", method: :get %>
<p>*escキーで一時中断*</p>
</body>
