<div class="wrapper">
    <div>
        <%= button "GAME START" , to: "/game/select" , method: :get%>
    </div>
</div>

<audio autoplay id="audio">
    <source src= "https://wingless-seraph.net/material/far-east-kingdom.mp3" type="audio/mp3">
</audio>
<audio autoplay id="click">
    <source src= "https://wingless-seraph.net/se/kettei-01.wav" type="audio/wav">
</audio>
