.wrapper-finish {
  min-height: 100vh;
  padding: 20px 0 50px 0;
  width: 70vw;
  margin: 0 auto;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  background-color: white;
}

.title-finish {
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.tables {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 0px;
  font-size: 20px;
  line-height: 2em;
}

.result-table {
  width: 30%;
}

.table1 {
  margin-right: 30px; 
}

.functions {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.buttons-finish {
  text-align: center;
  margin: 20px auto;
}

.buttons-finish button {
  margin-right: 15px;
}

.small-letter{
  font-size: small;
}

.button-2 > .button-finish{
  font-size: 25px;
}