<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "TypingMaojo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script>
      document.addEventListener('click', clickAudioPlay);
      function clickAudioPlay() {
      document.getElementById('click').play();
    }

    </script>

  </head>
  <body>
    <header>
      <div class="header-left">
        <p><%= link "TypingRPG", to: "/game/start" %></p>
        <%= if Map.has_key?(@conn.assigns, :id) do %>
          <p><%= link "エリア選択", to: "/game/area/#{@conn.assigns.id}" %></p>
          <%= if Map.has_key?(@conn.assigns, :area) do %>
            <p><%= link "ステージ選択", to: "/game/stage/#{@conn.assigns.id}/#{@conn.assigns.area}" %></p>
          <% end %>
        <%end %>
      </div>
      <div class="header-right">
      <%= if Map.has_key?(@conn.assigns, :id) do %>
        <a href='<%= "/game/info/#{@conn.assigns.id}" %>'><p>詳細情報</p></a>
      <% end %>
        <a onclick="mute();"><p>Sound</p></a>
        <%= if Map.has_key?(@conn.assigns, :id) do %>
          <p>名前: <%= get_name(@conn.assigns.id) %></p>
          <p>レベル <%= get_level(@conn.assigns.id) %></p>
        <% end %>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
<script>
    var TARGET = document.getElementById('audio');
      function mute(){
        if(TARGET.muted){
          TARGET.muted = false;
        }else{
          TARGET.muted = true;
        }
      }
</script>
