<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "TypingMaojo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <script>
      document.addEventListener('click', clickAudioPlay);
      function clickAudioPlay() {
      document.getElementById('click').play();
    }

    </script>

  </head>
  <body>
    <header>
      <div class="header-left">
        <%= link to: "/game/start" do %>
          <img src="/images/icon/title.png" class="header-icon">
        <% end %>
        <%= if Map.has_key?(@conn.assigns, :id) do %>
          <div class="header-block"><%= link "エリア選択", to: "/game/area/#{@conn.assigns.id}" %></div>
          <%= if Map.has_key?(@conn.assigns, :area) do %>
            <div class="header-block"><%= link "ステージ選択", to: "/game/stage/#{@conn.assigns.id}/#{@conn.assigns.area}" %></div>
          <% end %>
        <%end %>
      </div>
      <div class="header-right">

      <%= if Map.has_key?(@conn.assigns, :id) do %>
        <a href='<%= "/game/info/#{@conn.assigns.id}" %>'><div class="header-block">詳細情報</div></a>
      <% end %>
        <%= if Map.has_key?(@conn.assigns, :id) do %>
          <div class="header-block">名前: <%= get_name(@conn.assigns.id) %></div>
          <div class="header-block">レベル <%= get_level(@conn.assigns.id) %></div>
        <% end %>
        <div onclick="mute();">
          <img class="speaker" src="/images/icon/可愛いスピーカーアイコン.png">
          <img class="off-speaker hidden" src="/images/icon/スピーカーOFFアイコン.png">
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>

<script>

    var TARGET = document.getElementById('audio');
    var volume;
    var muted;

    if (document.cookie) {
      var cookies = document.cookie.split("; ");
      for (var v of cookies) {
        var vArray = v.split("=");
        if (vArray[0] == "volume") {
          volume = vArray[1];
        }
        if (vArray[0] == "muted") {
          muted = vArray[1];
        }
      }
    }

    if (typeof volume === "undefined") {
      volume = 0.5;
    }
    console.log(document.cookie);
    TARGET.volume = volume;

    var speaker = document.querySelector('.speaker');
    var off_speaker = document.querySelector('.off-speaker');

    if (muted == "true") {
      TARGET.muted = true;
      speaker.className = 'speaker hidden';
      off_speaker.className = 'off-speaker';
    }

    if (muted == "false") {
      TARGET.muted = false;
      speaker.className = 'speaker';
      off_speaker.className = 'off-speaker hidden';
    }
    console.log(muted);
    console.log(TARGET.muted);




    window.onbeforeunload = function(){
      muted = TARGET.muted;
      document.cookie = "volume=" + volume;
      document.cookie = "muted=" + muted;
      };

    function mute(){
      var speaker = document.querySelector('.speaker');
      var off_speaker = document.querySelector('.off-speaker');
      if(TARGET.muted){
        TARGET.muted = false;
        speaker.className = 'speaker';
        off_speaker.className = 'off-speaker hidden';
      }else{
        TARGET.muted = true;
        speaker.className = 'speaker hidden';
        off_speaker.className = 'off-speaker';
      }
    }

    function volume(Num){
        if(TARGET.volume == Num){
            TARGET.volume = Num + 0.5;
        }else{
            TARGET.volume = Num;
        }
        }

</script>
